.tabsWrap{
    list-style: none;
    position: fixed;
    top: .42rem;
    bottom: 1rem;
    width: 1rem;
    height: 100%;
    background: #fff;
    border-right:0.02rem solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
        width: 100%;
        line-height: 0.4rem;
        text-align: center;
    }
}
.active{
    color: skyblue;
    border-left:0.03rem solid rgb(16, 142, 233);;
}