li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

li img {
  width: 30%;
}

.desc {
  flex: 1;
}

.action {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.active {
  composes: action desc;
  background: greenyellow;
}
