.add{
    width: 100%;
    height: 1rem;
    background: #108ee9;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    text-align: center;
    font-size: .4rem;
    color: #fff;
}
.center{
    width: 100%;
    height: 1.6rem;
    display: flex;
    justify-content: space-around;
}
.top{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border:solid 1px #ccc;
}