.goodsDetailPage {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.goodsDetailPage .goodHeader {
  width: 100%;
  height: .98rem;
  background: #fff;
  border-bottom: .02rem solid #ccc;
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
}

.goodsDetailPage .goodHeader p {
  flex: 1;
  text-align: center;
  line-height: 1rem;
  font-size: .32rem;
}

.goodsDetailPage .swiperr {
  display: inline-block;
  width: 100%;
  height: 6.6rem;
}

.goodsDetailPage .swiperr img {
  width: 100%;
  height: 100%;
}

.goodsDetailPage .goodBlanktitle {
  width: 100%;
  height: .8rem;
  display: flex;
}

.goodsDetailPage .goodBlanktitle li {
  flex: 1;
  text-align: center;
  line-height: .8rem;
  font-size: .24rem;
  color: #666;
}

.goodsDetailPage .goodBlanktitle li span {
  color: red;
  font-size: .3rem;
}

.goodsDetailPage .goodsMsgWrap {
  padding: .4rem;
  background: #fff;
  text-align: center;
  border-bottom: .02rem solid #ddd;
}

.goodsDetailPage .goodsMsgWrap .goodsNameTitle {
  font-size: .4rem;
  padding-bottom: .2rem;
}

.goodsDetailPage .goodsMsgWrap .goodsNameSubTitle {
  font-size: .3rem;
  color: #444;
  padding-bottom: .1rem;
}

.goodsDetailPage .goodsMsgWrap .goodsNamePrice {
  font-size: .4rem;
  color: red;
  line-height: 1rem;
}

.goodsDetailPage .goodsMsgWrap .goodsBrandTitle {
  font-size: .24rem;
  padding: .1rem;
  color: orange;
  display: inline;
  border: .02rem solid orange;
  border-radius: .1rem;
}

.goodsDetailPage .goodsAttribute {
  margin-top: .2rem;
  padding: .4rem;
  background: #fff;
}

.goodsDetailPage .goodsAttribute .goodsAttributeLine {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  padding: .1rem 0;
}

.goodsDetailPage .goodsAttribute .goodsAttributeList .goodsAttributeItem {
  display: flex;
  align-items: center;
  line-height: .8rem;
  background: #dcdfe6;
  margin-top: .1rem;
}

.goodsDetailPage .goodsAttribute .goodsAttributeList .goodsAttributeItem .attributeLabel {
  width: 2rem;
  color: grey;
  padding: 0 .1rem;
  font-size: .32rem;
  text-align: center;
}

.goodsDetailPage .goodsAttribute .goodsAttributeList .goodsAttributeItem .attributeContent {
  flex: 1;
  font-size: .3rem;
  line-height: .6rem;
  padding: 0 .1rem;
}

.goodsDetailPage .goodsAttribute .problemWrap {
  margin-bottom: .2rem;
}

.goodsDetailPage .goodsAttribute .problemWrap .problemLabel {
  font-size: .32rem;
  line-height: .6rem;
}

.goodsDetailPage .goodsAttribute .problemWrap .problemLabel span {
  color: red;
  margin-right: .1rem;
}

.goodsDetailPage .goodsAttribute .problemWrap .problemContent {
  font-size: .3rem;
  line-height: .5rem;
  color: grey;
}

.goodsDetailPage .goodsPageDo {
  width: 100%;
  height: .98rem;
  background: #fff;
  display: flex;
  box-shadow: 0 -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
}

.goodsDetailPage .goodsPageDo .isLike {
  width: 20%;
  height: 100%;
  line-height: 1rem;
  font-size: .6rem;
  text-align: center;
  font-weight: bolder;
}

.goodsDetailPage .goodsPageDo .cartNum {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  font-size: .45rem;
}

.goodsDetailPage .goodsPageDo .addCart,
.goodsDetailPage .goodsPageDo .payGoods {
  width: 30%;
  height: 100%;
  line-height: 1rem;
  text-align: center;
  font-size: .3rem;
  color: #fff;
}

.goodsDetailPage .goodsPageDo .addCart {
  background: linear-gradient(90deg, #ff9500, #ff5e3a);
}

.goodsDetailPage .goodsPageDo .payGoods {
  background: linear-gradient(90deg, #1d62f0, #19d5fd);
}

.left {
  position: fixed;
  left: .2rem;
}

.active {
  color: red;
}
