html, body {
  width: 100%;
  height: 100%;
}

.maintop {
  width: 100%;
  height: auto;
  overflow: auto;
}

.mainfooter {
  width: 100%;
  height: 1rem;
  border: solid 1px #ccc;
  border-top: solid 1px #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  font-size: .24rem;
  text-align: center;
  background: #fff;
}

.mainfooter i {
  line-height: 0.64rem;
  width: 1.5rem;
  height: 0.64rem;
  display: inline-block;
}

.nav {
  width: 1.5rem;
  flex: 1;
}

.active {
  color: #2196f3;
}
