.topice {
  width: 100%;
  height: 5.8rem;
  border: solid 1px #ccc;
}

.topiceimg {
  width: 100%;
  height: 4rem;
}

.topiceimg img {
  width: 100%;
  height: 100%;
}

.topicetop {
  width: 100%;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
}

.topicecenter {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
}

.topicefooter {
  width: 100%;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  color: red;
}
