.typeinput{
    width: 100%;
    height: .8rem;
    input{
        width: 90%;
        height: 70%;
        text-align: center;
        margin-left: 5%;
        margin-top:.12rem;
        background: #ccc;
        border-radius: .1rem;
    }
}
.typeleft{
    position: fixed;
    left: 0;
    width:2rem;
    height: 11.5rem;
    border-right:solid 1px #ccc;
}

.active{
    color: #2196f3;
    border-left: solid 3px #2196f3;
}
.typeleftitem{
    width: 100%;
    height: .84rem;
    line-height: .84rem;
    text-align: center;
}
.typecenter{
    width: 100%;
    height: 11.5rem;
}
.typeright{
    position: fixed;
    right: 0;
    width: 5.5rem;
    height: 100%;
    overflow: auto;
}
.typerightimg{
    width: 100%;
    height: 2rem;
    position: relative;
}
.rightimgcenter{
    position: absolute;
    left: 35%;
    top: .9rem;
    color: #fff;
    
}
.rightTitle{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    color: #2196f3;
}
.typefooter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    width: 48%;
    height: 2.91rem;
    img{
        width: 100%;
        height: 2.55rem;
    }
}
.footertitle{
    width: 100%;
    text-align: center;
}
