.homewrap{
    margin-bottom:0.50rem;
}
//登录页
.loginBox{
    width: 100%;
    height: 6.67rem;
    background: #fff;
}
.login{
    width: 100%;
    padding: 0.5rem 0 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 1.5rem;
    }
}  
.loginMain{
    padding: 0.6rem .2rem 0;
} 
.inputWrap{
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.01rem solid #eee;
    input{
        display: block;
        height: 80%;
        border: none;
        width: 100%;
        font-size: .19rem;
    }
}
.loginbtn{
    width: 100%;
    height: 0.47rem;
    border:0;
    border-radius: 0.05rem;
    color: #fff;
    background-color: #108ee9;
    margin-top: .4rem;
    font-size: 0.18rem;
}
button,input{
    overflow: visible;
}
//首页
.viewwrap{
    width: 100%;
    height: 100%;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 0.50rem;
    width: 100%;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.2);
    display: flex;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    line-height: 0.26rem;
}
.menulink {
    display:flex;
    flex-direction: column;
    flex:1;
    text-decoration: none;
    text-align: center;
    color: #000;
    i{
        display: inline-block;
        font-size: 0.15rem;
        // margin-top:0.03rem;
    }
}
.active{
    color: skyblue;
}
.channelWrap {
    width: 100%;
    height: 0.5rem;
    padding: 0.1rem 0;
    background: #fff;
    display: flex;
    
}
.channelItem {
    width: 20%;
    height: 100%;
    line-height: 0.1rem;
    text-align: center;
    img{
        width: 0.28rem;
        height: 0.28rem;
    }
}
.brandBox,.newGoodsBox,.hotGoodsBox,.topGoodsBox{
    margin-top: .1rem;
    background: #fff;
}
.brandTitle,.newGoodsTitle,.hotGoodsTitle,.topGoodsTitle{
    height: 0.5rem;
    background: #fff;
    text-align: center;
    font-size: 0.16rem;
    line-height: 0.5rem;
    letter-spacing: .02rem;
    font-weight: 700;
}
.brandWrap,.newGoodsWrap{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.brandItem{
    width: 50%;
    height: 1.11rem;
    position: relative;
    img{
        width: 1.87rem;
        height: 1.11rem;
    }
}
.brandItemName{
    position: absolute;
    top: .1rem;
    left: .1rem;
    font-size: .15rem;
}
.brandItemMinPrice {
    position: absolute;
    top: .3rem;
    left: .1rem;
    font-size: 0.12rem;
    color: #a9a9a9;
}
.newGoodsItem{
    width: 50%;
    height: 2rem;
    img{
        height: 70%;
        width: 100%;
    }
}
.newGoodsName,.newGoodsPrice{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .15rem;
}
.newGoodsPrice{
    color: #8b0000;
}
.hotGoodsWrap{
    width: 95%;
    margin: auto;
    min-height: 2rem;
}
.hotGoodsItem{
    height: 1.3rem;
    position: relative;
    padding: .08rem 0;
    display: flex;
    border-top: 0.01rem solid #eee;
    img{
        width: auto;
        height: 100%;
    }
}
.hotGoodsItem>div.hotGoodsInfos{
    flex: 1;
    padding: .2rem 0;
    p{
        height:30%;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .hotGoodsName{
        font-size: .16rem;
    }
    .hotGoodsInfo {
        color: #a9a9a9;
        font-size: .13rem;
    }
    .hotGoodsPrice{
        color: #8b0000;
        font-size: .17rem;
    }
}
.tabPageContent{
    min-height: 100%;
    padding-bottom:0.50rem;
}
// .cateGoryBox{
//     height: auto;  
// }
.categorywary{
    display: flex;
    flex-wrap: wrap; 
}
.cateGoryName {
    width: 100%;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
}

//专题页
.topicItem { 
    margin-top: .1rem;
    background: #fff;
    display: block;
    img {
        width: 100%;
    }
    .topicItemSubtitle, .topicItemTitle {
        margin: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.topicItem:first-of-type {
    margin-top: 0;
}
.topicItemTitle {
    padding: .06rem .05rem .05rem;
    font-size: .15rem;
    line-height: .2rem;
    height: .2rem;
}
.topicItemSubtitle {
    padding: .05rem .2rem;
    font-size: .15rem;
    color: grey;
    line-height: .15rem;
    height: .15rem;
}
.topicItemPrice {
    margin: 0;
    padding: .05rem .1rem;
    font-size: .13rem;
    text-align: center;
    color: red;
    line-height: .2rem;
    height: .2rem;
}
//专题详情
.header ,.classifyheader{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 0.1rem;
    z-index: 10;
}
.header{
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.topicDetailImg{
    padding-top:0.5rem;
    img{
       width: 100%;
        height: 100%;
        display: block; 
    }
    p{
        margin: 0;
    }
}
//精选留言
.commentWrap {
    height: auto;
    background: #fff;
    margin-top: .1rem;
    padding: 0 0.1rem;
    .titleLine {
        width: 100%;
        height: 0.4rem;
        display: flex;
        line-height: 0.4rem;
    }
}
.commentList {
    background: #fff;
}
.commentItem{
    border-top:0.01rem solid #a9a9a9;
    color: grey;
    .userInfo{
        display: flex;
        justify-content: space-between;
    }
    .userInfospan{
        color:#000;
    }
}
//推荐专题
.relateTopic {
    margin-top: .1rem;
    padding: 0 .1rem;
    .relateTopicTitle {
        margin: 0;
        line-height: .3rem;
        text-align: center;
    }
    .relateTopicItem {
        background: #fff;
        padding: .1rem .1rem 0;
        margin-bottom: .1rem;
        display: block;
        img{
            width: 100%;
            height: 2rem;
        }
        p{
            margin: 0;
            line-height: 0.5rem;
            color: grey;
            font-size: .13rem;
        }
    }
}

//分类页
.searchWrap{
    border-bottom: 0.01rem solid #ccc;
}
.searchInput, .searchWrap {
    height: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background: #fff;
}
.searchInput {
    width: 90%;
    height: 70%;
    background: #ededed;
    border-radius: 0.05rem;
    font-size: .16rem;
    color: #666;
}
.categogContet{
    margin-top: .42rem;
    margin-left: 1.01rem;
    overflow: hidden;
    margin-bottom:0.50rem;
    .categoryTitle,.categoryWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.categoryWrap {
    height: 100px;
    background: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: .15rem;
}
.categoryTitle {
    background: #fff;
    padding: .1rem;
    font-size: .15rem;
    color: #2196f3;
}
.subCategory {
    background: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 .1rem .1rem;
    .subCategoryItem {
        width: 50%;
        img {
            width: 100%;
            // padding: .1rem;
            height: auto;
        }
        .subCategoryItemName {
            margin: 0;
            font-size: .15rem;
            text-align: center;
            padding: .02rem 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
//奇趣分类
.tabWrap{
    height: 0.4rem;
    margin-top: 0.5rem;
    line-height: 0.4rem;
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    background: #fff;
    border-top: 0.01rem solid #eee;
    &::-webkit-scrollbar{
        display: none;
    }
    li{
        list-style: none;
        text-align: center;
        padding:0 0.1rem;
    }
    .active{
        color: skyblue;
        border-bottom:0.02rem solid skyblue;
    }
}
.categoryDetail {
    padding: .05rem 0;
    p {
        height: 0.1rem;
        line-height: 0.1rem;
        text-align: center;
    }
    p:nth-child(2) {
        color: grey;
    }
}
//模糊搜索
.searchPage{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.searchInputWrap {
    width: 100%;
    height: 0.4rem;
    padding: 0.05rem 0;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .goback{
        padding: 0 .1rem;
        i{
            font-size: 0.2rem;
        }
    }
    .icon {
        background: #f5f5f9;
        width: .32rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
        font-size: .64rem;
        margin: 0;
    }
    .searchInput {
        flex: 1;
        height: 100%;
        background: #f5f5f9;
        border: none;
        font-size: .15rem;
        border-radius: 0;
        padding: 0;
    }
    .cancelSearch{
        padding: 0 .1rem;
    }
}
.searchItemWrap:last-child {
    margin-top: 0.1rem;
}
.searchItemWrap {
    height: auto;
    margin-top: 0.51rem;
    padding: 0 .1rem .1rem;
    background: #fff;
    .title {
        width: 100%;
        height: .3rem;
        font-size: .16rem;
        line-height: .3rem;
        i {
            font-size: .2rem;
            float: right;
        }
    }
}
.listWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .listItem {
        display: inline-block;
        // white-space: nowrap;//规定段落中的文本不进行换行：
        //cursor：pointer;//设定鼠标的形状为一只伸出食指的手，这也是绝大多数浏览器里面鼠标停留在网页链接上方时候
        background-color: #fff;
        border: 1px solid #dcdfe6;
        color: #606266;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        font-weight: 500;
        padding: 0.06rem;
        font-size: .15rem;
        border-radius: .08rem;
        margin: .03rem;
    }
}
//我的页面
.minePage{
    padding-bottom: 0.5rem;
}
.minePage .userMsgWrap {
    height: 1rem;
    background:peachpuff;
    background-size: 100%;
    padding: .3rem .2rem;
    display: flex;
    .userLogo {
        width: 0.8rem;
        background:peru;
        background-size: 100%;
        height: 0.8rem;
        border-radius: 50%;
    }
    .userMsgs {
        flex: 1;
        padding: 0 .1rem;
        height: 100%;
        p{
            height:40%;
            display: flex;
            align-items: center;
            color: #fff;
            margin: 0;
        }
    }
}
.minePage .userPower {
    display: flex;
    flex-wrap: wrap;
    div {
        width: 33.05%;
        height: 1.5rem;
        background: #fff;
        border: .5px solid #dcdcdc;
        i {
            display: block;
            padding-top: .3rem;
            padding-bottom: .1rem;
            text-align: center;
            font-size: .3rem;
            color: #9e9e9e;
        }
        p{
            text-align: center;
            font-size: .16rem;
        }
        
    }
    .myactive{
        color: rgb(33, 150, 243);
        i{
            color: rgb(33, 150, 243);
        }
    }
}
.minePage .loginOut {
    height: 0.5rem;
    width: 100%;
    margin: .1rem 0;
    background: #fff;
    text-align: center;
    line-height: 0.5rem;
}
//收藏页面
.CollectGoodsWrap{
    width: 95%;
    margin: auto;
    min-height: 100%;
    margin-top: 0.5rem;
}
.CollectGoodsItem{
    height: 1rem;
    position: relative;
    padding: .08rem 0;
    display: flex;
    .CollectGoodsImgs{
        width: auto;
        height: 100%;
    }
}
.CollectGoodsItem>div.CollectGoodsInfos {
    flex: 1;
    padding: .2rem 0;
    p{
        height:30%;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .CollectGoodsName {
        font-size: .16rem;
    }
    .CollectGoodsInfo {
        color: #a9a9a9;
        font-size: .13rem;
    }
    .CollectGoodsPrice {
        color: #8b0000;
        font-size: .17rem;
    }
}
.Swipreimg{
    margin-top: .5rem;
}
//商品详情
.serviceList {
    height: .4rem;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        flex: 1 1;
        color: #666;
        font-size: .13rem;
        text-align: center;
        span {
            color: red;
            margin-right: .1rem;
            font-size: .2rem;
        }
    }
}
.goodsMsgWrap {
    padding: .05rem;
    background: #fff;
    .goodsNameTitle {
        font-size: .2rem;
        text-align: center;
        padding-bottom: .1rem;
    }
    .goodsNameSubTitle {
        font-size: .17rem;
        color: #444;
        text-align: center;
        padding-bottom: .05rem;
    }
    .goodsPriceTitle {
        font-size: .2rem;
        color: red;
        text-align: center;
        line-height: .5rem;
    }
}
//商品参数
.goodsAttribute {
    margin-top: .1rem;
    padding:.1rem;
    background: #fff;
}
.goodsAttributeLine {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
    padding: .1rem 0;
}
.goodsAttributeList{
    .goodsAttributeItem {
        display: flex;
        align-items: center;
        line-height: .4rem;
        background: #dcdfe6;
        margin-top: .05rem;
        .attributeLabel {
            width: 1rem;
            color: grey;
            padding: 0 .1rem;
            font-size: .18rem;
            text-align: center;
        }
        .attributeContent {
            flex: 1;
            font-size: .15rem;
            line-height: .3rem;
            padding: 0 .05rem;
        }
    }
}
//常见问题
.goodsAttribute {
    margin-top: .1rem;
    padding: .1rem;
    background: #fff;
    .goodsAttributeLine {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2196f3;
        padding: .1rem 0;
    }
    .problemWrap {
        margin-bottom: .1rem;
        .problemLabel {
            font-size: .15rem;
            line-height: .3rem;
            span {
                color: red;
                margin-right: .1rem;
            }
        }
        .problemContent {
            font-size: .13rem;
            line-height: .2rem;
            color: grey;
        }
    }
}
//底部
.goodsPageDo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.2);
    display: flex;
}
.isLike,.Like {
    width: 20%;
    height: 100%;
    line-height: .5rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bolder;
}
.Like{
    color: yellow;
}
.cartNum {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
    i {
        font-size: .3rem;
        position: relative;
    }
    span {
        position: absolute;
        font-size: .16rem;
        right: -.05rem;
        top: -.01rem;
        color: red;
        font-weight: bolder;
    }
}
.addCart,.payGoods {
    width: 30%;
    height: 100%;
    line-height: .5rem;
    text-align: center;
    font-size: .17rem;
    color: #fff;
}
.addCart {
    background: linear-gradient(90deg,#ff9500,#ff5e3a);
}
.payGoods {
    background: linear-gradient(90deg,#1d62f0,#19d5fd);
}
