.conter{
    margin-bottom:.45rem ;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 0.45rem;
    width: 100%;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: space-around;
    line-height: 0rem;
    z-index: 100;
    .menulink {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #000;
        p:nth-child(1){
            width: auto;
            height: 0rem;
            font-size: 0.18rem;
        }
        p:nth-child(2){
            font-size: 0.13rem;
        }
      }
      .active {
        color: rgb(33, 150, 243);
      }
}

.channelWrap{
    width: 100%;
    height: 0.6rem;
    padding: .1rem 0;
    display: flex;
    background: #fff;
    .channelItem{
        width: 20%;
        height: 100%;
        img:first-child {
            height: 55%;
            display: block;
            padding: .1rem;
            margin: auto;
        }
        div:nth-child(2) {
            height: 20%;
            font-size: .12rem;
            text-align: center;
            color: #000;
        }
    }
}
.logo{
    width:100% ;
    height: 2rem;
    img{
        width: 100%;
        height: 100%;
    }
}
.from{
    width: 100%;
    height: 2rem;
    .dl{
        width: 100%;
        height: 60px;
        line-height: 60px;
        display: flex;
        padding: 10px 0 10px 0;
        dd{
            flex: 2;
        }
        dt{
            flex: 8;
            input{
                width: 90%;
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 10px;
            }
        }
    }
    .btn{
        width: 100%;
        height: 100px;
        text-align: center;
        button{
            width: 80%;
            height: 39px;
            background: rgb(16, 142, 233);
            border: none;
            border-radius: 5px;
            outline: none;
            color: #fff;
        }
    }
}
.brandBox{
    margin-top: .1rem;
    background: #fff;
    .brandTitle{
        height: 0.5rem;
        background: #fff;
        text-align: center;
        font-size: .17rem;
        line-height: 0.5rem;
        letter-spacing: .02rem;
        font-weight: 700;
    }
    .brandWrap{
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        .brandItem{
            width: 50%;
            height: 1.15rem;
            position: relative;
            color: #000;
            cursor: pointer;
            .brandItemName{
                position: absolute;
                top: .1rem;
                left: .1rem;
                font-size: .16rem;
            }
            .brandItemMinPrice{
                position: absolute;
                top: .3rem;
                left: .09rem;
                font-size: .12rem;
                color: #a9a9a9;
            }
            .imgLazyload{
                width: 100%;
                height: 100%;
                max-height: 4rem;
            }
        }
    }
}
.newGoodsBox{
    margin-top: .1rem;
    background: #fff;
    .newGoodsTitle{
        height: 0.5rem;
        background: #fff;
        text-align: center;
        font-size: .17rem;
        line-height: 0.5rem;
        letter-spacing: .02rem;
        font-weight: 700;
    }
    .newGoodsWrap{
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        .newGoodsItem{
            width: 50%;
            height: 2rem;
            color: #000;
            cursor: pointer;
            .imgLazyload{
                height: 70%;
                width: 100%;
            }
            .newGoodsName{
                height: 13%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .143rem;
            }
            .newGoodsPrice{
                height: 13%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .16rem;
                color: #8b0000;
            }
        }
    }
}
.hotGoodsBox{
    margin-top: .1rem;
    background: #fff;
    .hotGoodsTitle{
        height: 0.5rem;
        background: #fff;
        text-align: center;
        font-size: .17rem;
        line-height: 0.5rem;
        letter-spacing: .02rem;
        font-weight: 700;
    }
    .hotGoodsWrap{
        width: 100%;
        min-height: 200px;
        .hotGoodsItem {
            height: 1.3rem;
            position: relative;
            padding: .1rem 0;
            display: flex;
            .imgLazyload {
                width: auto;
                height: 100%;
            }
            .hotGoodsInfos{
                flex: 1 1;
                padding: .15rem 0;
                .hotGoodsNamev{
                    height: 33.3333%;
                    display: flex;
                    align-items: center;
                    font-size: .15rem;
                    color: #000;
                }
                .hotGoodsInfo{
                    height: 33.3333%;
                    display: flex;
                    align-items: center;
                    color: #a9a9a9;
                    font-size: .13rem;
                }
                .hotGoodsPrice{
                    height: 33.3333%;
                    display: flex;
                    align-items: center;
                    color: #8b0000;
                    font-size: .18rem;
                }
            }
        }
        .hotGoodsItem:after {
            content: "";
            width: 200%;
            height: 1px;
            background: #a9a9a9;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            -webkit-transform-origin: 0;
            transform-origin: 0;
            -webkit-transform: scale(.5);
            transform: scale(.5);
        }
    }
}
.tabPageContent{
    min-height: 100%;
    .topicItem:first-of-type {
        margin-top: 0;
    }
    .topicItem{
        height: 2.93rem;
        margin-top: .1rem;
        background: #fff;
        display: block;
        .imgLazyload{
            opacity: 1;
            transition: all 1s;
            width: 100%;
            height: 2rem;
        }
        .topicItemTitle{
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: .1rem .05rem .05rem;
            font-size: .15rem;
            line-height: .2rem;
            //height: .35rem;
            color: #000;
        }
        .topicItemSubtitle{
            padding: .05rem .1rem;
            font-size: .13rem;
            color: grey;
            height: .2rem;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .topicItemPrice{
            padding: .05rem .05rem 0 .05rem;
            font-size: .14rem;
            text-align: center;
            color: red;
            line-height: .1rem;
            height: .35rem;
        }
    }
}
.searchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .4rem;
    background: #fff;
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    .searchInput{
        width: 90%;
        height: 70%;
        background: #ededed;
        border-radius: .1rem;
        font-size: .14rem;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        .searchInput>span {
            margin-left: .05rem;
        }
    }
}
.noTabPageContent {
    padding-top: .52rem;
    min-height: 100%;
    .topicDetail{
        width: 100%;
        overflow-x: hidden;
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: .5rem;
            background: #fff;
            box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
            z-index: 10;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .left {
                width: .3rem;
            }
            .title {
                font-size: .2rem;
            }
        }
        .topicDetailImg img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.categogContet{
    margin-top: .42rem;
    margin-left: 1.01rem;
    overflow: hidden;
    margin-bottom: 0.50rem;
    .categoryTitle, .categoryWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.categoryWrap{
    height: 100px;
    background: #fff;
    background-size:100% 100%;
    background-repeat:no-repeat ;
    color: #fff;
    font-size: .15rem;
}
.categoryTitle{
    background: #fff;
    padding: .1rem;
    font-size: .15rem;
    color: #2196f3;
}
.subCategory{
    background: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 .1rem .1rem;
    .subCategoryItem{
        width: 50%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .subCategoryItemName{
        margin: 0;
        font-size: .15rem;
        text-align: center;
        padding: .02rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.topGoodsBox{
    margin-top: .1rem;
    background: #fff;
    .topGoodsTitle{
        height: .5rem;
        background: #fff;
        text-align: center;
        font-size: .15rem;
        line-height: .5rem;
        letter-spacing: .01rem;
        font-weight: 700;
    }
}
.cateGoryBox{
    height: auto;
    .cateGoryName {
        height: .5rem;
        text-align: center;
        line-height: .5rem;
    }
}
.noTabPageContent{
    padding-top: 0.52rem;
    min-height: 100%;
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: .5rem;
        background: #fff;
        z-index: 10;
        border-bottom: none;
        .left{
            width: .3rem;
            font-size: .20rem;
        }
        .title{
            font-size: .16rem;
        }
    }
    .tabWrap{
       height: .4rem;
       line-height: .4rem;
       white-space: nowrap;
       overflow-y: hidden;
       overflow-x: scroll;
       display: flex;
       border-top: 0.01rem solid #eee;
       text-align: center;
       background: #fff;
    }
    ::-webkit-scrollbar{display: none;}//去掉滚动条
    li{
        text-align: center;
        padding: 0 0.1rem;
    }
    .active{
        color: skyblue;
        border-bottom:0.02rem solid skyblue ;
    }
    .categoryDetail{
        padding: .1rem 0;
        margin-top: .04rem;
        .title{
            height: .3rem;
            line-height: .3rem;
            text-align: center;
            font-size: .16rem;
        }
        .front_name{
            color: grey;
            height: .25rem;
            line-height: .25rem;
            font-size: .14rem;
            text-align: center;
        }
    }
}
//三级分类详情
.noTabPageContent {
    padding-top: .502rem;
    min-height: 100%;
    .goodsPage {
        padding-bottom: .5rem;
    }
    .header, .header>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: .5rem;
        background: #fff;
        box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        z-index: 10;
    }
    .serviceList{
        height: .35rem;
        background: #f4f4f4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        p {
            color: #666;
            font-size: .12rem;
            text-align: center;
            span {
                color: red;
                font-size: .15rem;
            }
        }
    }
    .goodsMsgWrap {
        padding: .2rem;
        background: #fff;
        .goodsNameTitle{
            font-size: .2rem;
            text-align: center;
            padding-bottom: .1rem;
        }
        .goodsNameSubTitle{
            font-size: .15rem;
            color: #444;
            text-align: center;
            padding-bottom: .1rem;
        }
        .goodsPriceTitle{
            font-size: .2rem;
            color: red;
            text-align: center;
            line-height: .5rem;
        }
    }
    .goodsSize{
        margin-top: .01rem;
        height: .5rem;
        padding: 0 .2rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .sha{
            flex: 1 1;
            text-align: left;
            color: #2196f3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .money{
            width: auto;
            padding: 0 .1rem;
            text-align: right;
            color: red;
            font-weight: bolder;
        }
        .cla{
            width: auto;
            padding: 0 .1rem;
            text-align: right;
        }
    }
    .goodsAttribute{
        margin-top: .1rem;
        padding: .2rem;
        background: #fff;
        .goodsAttributeLine{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            padding: .05rem 0;
        }
        .goodsAttributeList{
            .goodsAttributeItem{
                display: flex;
                align-items: center;
                line-height: .4rem;
                background: #dcdfe6;
                margin-top: .05rem;
                .attributeLabel{
                    width: 1rem;
                    color: grey;
                    padding: 0 .05rem;
                    font-size: .16rem;
                    text-align: center;
                }
                .attributeContent{
                    flex: 1 1;
                    font-size: .15rem;
                    line-height: .3rem;
                    padding: 0 .05rem;
                }
            }
        }
    }
    .topicDetailImg{
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .goodsAttribute{
        margin-top: .1rem;
        padding: .2rem;
        background: #fff;
        .goodsAttributeLine {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            padding: .05rem 0;
        }
        .problemWrap {
            margin-bottom: .1rem;
            .problemLabel {
                span {
                    color: red;
                    margin-right: .1rem;
                }
                font-size: .16rem;
                line-height: .3rem;
            }
            .problemContent {
                font-size: .15rem;
                line-height: .25rem;
                color: grey;
            }
        }
        
    }
    .goodsAttribute{
        margin-top: .1rem;
        padding: .1rem;
        background: #fff;
        .goodsAttributeLine {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            padding: .1rem 0;
        }
    }
    .goodsList{
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        .goodsItem{
            width: 48%;
            background: #fff;
            height: auto;
            padding: .037rem;
            position: relative;
            .goodsItemImg{
                width: 100%;
                min-height: 1rem;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .goodsItemName{
                text-align: center;
                font-size: .14rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .goodsItemPrice{
                text-align: center;
                font-size: .14rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: red;
            }
        }
    }
    .goodsPageDo{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .49rem;
        background: #fff;
        box-shadow: 0 -3px 10px 0 rgba(0,0,0,.2);
        display: flex;
        .isLike {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            i{
                font-size: .2rem;
            }
        }
        .cartNum {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            i{
                font-size: .2rem;
            }
        }
        .addCart{
            width: 30%;
            height: 100%;
            line-height: .49rem;
            text-align: center;
            font-size: .15rem;
            color: #fff;
            background: linear-gradient(90deg,#ff9500,#ff5e3a);
        }
        .payGoods{
            width: 30%;
            height: 100%;
            line-height: .49rem;
            text-align: center;
            font-size: .15rem;
            color: #fff;
            background: linear-gradient(90deg,#1d62f0,#19d5fd);
        }    
    }
}

//我的页面
.mineHeader{
    width:100%;
    height: 150px;
    background: #ceb582;
    display: flex;
    .mineLeft{
       flex:2;
       .mine_img{
          width: 80px;
          height: 80px;
          border-radius: 50px;
          margin:auto;
          margin-top: 0.7rem;
          background: #ccc;
          img{
              width:100%;
              height: 100%;
              border-radius: 50px;
          }
       }
    }
    .mineRight{
        flex:5;
        .mineRight_num{
            margin-top: 1rem;
        }
        .mineRight_name{
            margin-top: 0.2rem;
        }
     }
}
.mineMain{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    div{
        width:1.23rem;
        height: 1.19rem;
        border:0.01rem solid #ccc;
        text-align: center;
        .mine_Img{
         span{
             font-size: 0.38rem;
             color:skyblue;
         }
         margin-top: 0.28rem;
        }
        .mine_clooect{
            color:skyblue;
            margin-top: 0.2rem;
        }
    }
}
.mineFooter{
    width:100%;
    height:1rem;
    margin:0.2rem 0;
    background: #fff;
    text-align: center;
    line-height: 1rem;
}
.btn{
    border: 1px solid #000;
    display: block;
    width: 80px;
    height: 80px;
    left: 17px;
    border-radius: 50px;
    opacity: 0;
    position: absolute;
    top: 65px;
    z-index: 9999;
}
//收藏页面
.collect_header{
    width:100%;
    height: .5rem;
    background: #fff;
    text-align: center;
    line-height: .5rem;
    display: flex;
    justify-content: space-around;
    border-bottom: .02rem solid #ccc;
}
.collect_context{
    width:100%;
    .collect_context_item{
        width:100%;
        height: 1.25rem;
        background: #fff;
        display: flex;
        .collect_context_img{
            flex:3;
            img{
                width:100%;
                height: 1.25rem;
            }
        }
        .collect_context_text{
            flex:5;
            p{
                width:100%;
                height: 0.35rem;
                line-height: 0.35rem;
                margin-top: 0.5rem;
            }
            .collect_context_price{
                color:red;
            }
        }
    }
}