.address_header{
    width:100%;
    height: 1rem;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-around;
    line-height: 1rem;
}
.address_footer{
    width:100%;
    height: 1rem;
    background: #108ee9;
    text-align: center;
    line-height: 1rem;
    color:#fff;
    position: fixed;
    bottom:0;
    right:0;
}
.add_footer{
    width:100%;
    height: 1rem;
    border-top:1px solid #ccc;
    text-align: center;
    line-height: 1rem;
    position: fixed;
    bottom:0;
    right:0;
    display: flex;
    .add_no{
        flex:1;
    }
    .add_ok{
        flex:1;
        background: #108ee9;
        color:#fff;
    }
}
.sure{
    width:100%;
    height: 1rem;
    background: #fff;
    line-height: 1rem;
    text-align: center;
    input{
        width:0.4rem;
        height: 0.4rem;
        border-radius: 50px;
        border:none;
        margin-left: 0.2rem;
    }
}
.add_context{
    p{
        width:96%;
        height: 1rem;
        background: #fff;
        border-bottom: 1px solid #ccc;
        input{
            width: 100%;
            height: 100%;
            border:none;
            padding-left: 0.3rem;
        }
    }
}
.listItem{
    width:100%;
    height:80px;
    background: #fff;
    border-bottom:1px solid #ccc;
    display: flex;
    .listName{
        flex:1;
        line-height: 80px;
        text-align: center;
        color:orange;
    }
    .listAdd{
        flex:4;
        p{
            margin-top: 0.2rem;
        }
    }
    .listDelet{
        line-height: 80px;
        text-align: center;
        flex:1;
    }
}