.address_header{
    width:100%;
    height: 1rem;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-around;
    line-height: 1rem;
}
.address_footer{
    width:100%;
    height: 1rem;
    background: #108ee9;
    text-align: center;
    line-height: 1rem;
    color:#fff;
    position: fixed;
    bottom:0;
    right:0;
}
.add_footer{
    width:100%;
    height: 1rem;
    border-top:1px solid #ccc;
    text-align: center;
    line-height: 1rem;
    position: fixed;
    bottom:0;
    right:0;
    display: flex;
    .add_no{
        flex:1;
    }
    .add_ok{
        flex:1;
        background: #108ee9;
        color:#fff;
    }
}