.conter{
   width:100%;
   height:70px;
   background:#FFF;
   display: flex;
   .conterItem{
     margin:10px 0;
      width:75px;
      height: 60px;
      text-align: center;
      font-size: 12px;
      img{
         width:28px;
         height:28px;
      }
   }
}
.ListWrap{
    width:100%;
    height:270px;
    background:#FFF;
    margin-top: 0.2rem;
    .ListText{
      width:100%;
      height:50px;
      font-size: 0.3rem;
      line-height: 1rem;
      letter-spacing: 0.02rem;
      font-weight: 700;
      text-align: center;
    }
    .ListItem{
      width:100%;
      height:220px;
      display: flex;
      flex-wrap: wrap;
      .brandItem{
          width:50%;
          height: 2.2rem;
          position: relative;
          .brandName{
            position: absolute;
            top: 0.2rem;
            left: 0.2rem;
            font-size: 0.3rem;
          }
          .brandPrice{
            position: absolute;
            top: 0.6rem;
            left: 0.2rem;
            font-size: 0.24rem;
            color: #a9a9a9;
          }
          .brandImg{
              opacity: 1;
          }
          img{
            width: 100%;
            height: 100%;
            max-height: 4rem;
          }
      }
    }
}
.login{
  img{
    width:100%;
    height: 100%;
    position: relative;
  }
  .ipt{
    width: 60%;
    position: absolute;
    top:5rem;
    left:1.5rem;
    p{
       margin:0.2rem 0;
    }
    input{
       width:95%;
       height: 0.6rem;
       background: none;
       border:1px solid #ccc;
       padding-left: 0.2rem;
       border-radius:0.5rem;
    }
    button{
      width:100%;
      height: 0.6rem;
      margin-top: 0.3rem;
      background: #FCC2D0;
      border:1px solid #FCC2D0;
      border-radius:0.5rem;
      color:#FFF;
      font-weight: 800;
      font-size: 0.3rem;
    }
  }
}
.goodsList{
  width:100%;
  background: #FFF;
  .goodsText{
    width:100%;
    height:1rem;
    font-size: 0.3rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    text-align: center;
    background: #FFF;
  }
  .goodsItem{
    display: flex;
    flex-wrap: wrap;
   .goodsTitle{
      width: 50%;
      height: 4rem;
      img{
        width:100%;
        height: 70%;
      }
      .goodsName,.goodsPrice{
         height: 15%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 0.3rem;
      }
      .goodsPrice{
         color:#8b0000;
      }
    }
  }
}
.hotList{
  width:100%;
  margin-top: 0.2rem;
  background: #FFF;
  .hotText{
    width:100%;
    height:1rem;
    font-size: 0.3rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    text-align: center;
    background: #FFF;
    border-bottom:1px solid #ccc;
  }
  .hotItem{
    width:94%;
    padding:0 0.2rem;
    min-height:200px;
   .hotTitle{
       height: 3rem;
       position: relative;
       padding:0.1rem 0;
       display: flex;
       border-bottom:1px solid #ccc;
       img{
          width: auto;
          height: 100%;
       }
       .hotRight{
          flex:1 1;
          padding:0.5rem 0;
          .hotName,.hotBrief,.hotPrice{
            height: 33.3333%;
            display: flex;
            align-items: center;
          }
          .hotBrief{
            color:#a9a9a9;
            font-size: 0.28rem;
          }
          .hotPrice{
             color:#8b0000;
             font-size: 0.3rem;
          }
       }
    }
  }
}
.topicList{
  margin-top: .2rem;
  background: #fff;
  width:100%;
  .topicText{
    height:1rem;
    font-size: 0.3rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    text-align: center;
    background: #FFF;
  }
  .topicItem{
    width:100%;
    height: 153px;
    img{
      width:100%;
      height: 153px;
    }
    .space_carousel {
      overflow: hidden;
    }
  }
}
.cateList{
  height: auto;
  .cateText{
    height: 1rem;
    text-align: center;
    line-height: 1rem;
  }
  .cateItem{
    display: flex;
    flex-wrap: wrap;
    .goodsItems{
    width: 44.5%;
    height: auto;
    background: #fff;
    padding: .2rem;
    position: relative;
    .goodsItemImg{
        width: 100%;
      height: auto;
      img{
        width:100%
      }
     }
     .goodsItemName,.goodsItemPrice{
      text-align: center;
      font-size: .28rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
     }
     .goodsItemName{
      padding-bottom: .3rem;
      padding-top: .1rem;
       }
       .goodsItemPrice{
          color: red;
       }
     }
    }

  }
