.releaseWrap{
   min-height: 100%;
   padding-bottom: 1.04rem;
   margin-top: 0;
   .releaseItem{
    height: 5.8rem;
    margin-top: 0.2rem;
    background: #fff;
    display: block;
    img{
     width: 100%;
     height: 4rem;
    }
    .releaseTitle,.releaseSubtitle{
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .releaseTitle{
        font-size: 0.3rem;
        line-height: 0.4rem;
        height: 0.7rem;
    }
    .releaseSubtitle{
        font-size: 0.26rem;
        color: grey;
        height: 0.4rem;
    }
    .releasePrice{
        font-size: 0.28rem;
        text-align: center;
        color: red;
        line-height: 0.4rem;
        height: 0.7rem;
    }
   }
}